.pagetitle{
  margin-bottom: 0;
}

.connexion-form h2{
  font-family: 'Helvetica Neue Condensed', sans-serif;
  text-transform: uppercase;
  color:#FAFAFA;
  font-size: 2rem;
  text-align: center;
}

.social_icons_bloc img {
    padding: 30px;
    border-bottom: 2px solid #fafafa;
    margin:0px;
}

.social_icons_bloc {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 40px;
}

.social_icons_bloc figure {
  margin: 0;
}

.social_icons_bloc p {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-family: "segoe_UI", sans-serif;
  font-size: 2rem;
  color: #fafafa;
  margin: 0 40px;
  font-family: 'Helvetica Neue Condensed', sans-serif;
}

.connexion-form .data_register{ 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.connexion-form .data_register input {
  min-height: 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 60%;
  padding: 10px 0 10px 30px;
  margin: 0.7em auto;
  border-radius: 50px;
  border: none;
  background: rgb(230, 230, 230);
  font-family: "Segoe_UI", sans-serif;
  outline: none;
  color: black;
  font-size: 30px;
}

.connexion-form .data_register input + input {
  margin-top:20px;
}

.connexion-form .date_birthday label input {
  margin: 0px;
}

.connexion-form input::placeholder {
  color: rgb(199, 0, 30, 0.5);
}


.connexion-form .buttons_center{
display: flex;
justify-content: center;
margin-top:30px;
}

.connexion-form .button-go .space{
  margin-left:50px;
}
