
.text_center {
display: flex;
justify-content: center;
padding-bottom:3%; 
}

.group_form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.group_form .subtitle h3 {
  font-size: 2rem;
  color: #fafafa;
  margin-top:4%;
}

form .group_form input,
form .group_form select {
  width: 5rem;
  height: 5rem;
  padding: 3px 3px 3px 14px;
  margin: 0.7em auto;
  border-radius: 50px;
  border: none;
  outline: none;
  color: #c7001e;
  font-size: 1.7em;
  text-align: center;
  font-weight: bold;
}

form .group_form input + input {
  margin-left: 20px;
}

.group_form input::placeholder {
  color: rgb(199, 0, 30, 0.5);
}

#budget {
  width: 150px;
}

.group_form .left_side,
.group_form .right_side{
  min-width: 500px;
}