.container_payment {
  position: relative;
}

.form_payment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-left: 50px;
}

.form_payment .holder,
.form_payment .country,
.form_payment .n_credit_card,
.form_payment .type_payment,
.form_payment .date_expiration,
.form_payment .cryptogramme,
.form_payment .cryptogramme_info {
  display: flex;
  flex-direction: row;
}

.form_payment label {
  font-weight: bold;
  font-size: 2rem;
  color: #fafafa;
  margin-right: 30px;
  display: flex;
  justify-content: flex-end;
}

.form_payment .labels {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.form_payment .button_right {
  display: flex;
  justify-content: flex-end;
}

.form_payment .info {
  display: flex;
  flex-direction: row;
}

.form_payment p {
  display: none;
}

.form_payment .info img {
  margin-top: 20px;
  margin-left: 20px;
}

.info:hover p {
  position: absolute;
  top: 450px;
  left: 470px;
  background: #fafafa;
  padding: 2px;
  display: block;
}
.form_payment .holder{
  margin-top:50px;
}


.form_payment .country,
.form_payment .n_credit_card,
.form_payment .type_payment,
.form_payment .date_expiration,
.form_payment .cryptogramme {
  margin-top: 30px;
}

.form_payment .holder input,
.form_payment .country input,
.form_payment .n_credit_card input,
.form_payment .date_expiration input,
.form_payment .cryptogramme input {
  width: 50%;
  padding: 5px;
  color: #c7001e;
  font-size: 2rem;
  font-weight: bold;
  font-family: "Helvetica Neue Condensed", sans-serif;
}

.form_payment .cryptogramme .cryptio input {
  width: 30%;
}

.form_payment .date_expiration .inputs_expiration {
  display: flex;
  flex-direction: row;
}
.form_payment .date_expiration .inputs_expiration .separation {
  content: "";
  border: 2px solid #fafafa;
  border-bottom: 0;
  margin-bottom: 0;
  margin: 0 20px;
  height: 100%;
  color: black;
  -webkit-transform: translateY(-1px) rotate(27deg);
}

.form_payment .type_payment .icons_payment {
  display: flex;
  align-items: center;
}

.form_payment .type_payment .icons_payment img {
  margin: 0 20px 0 10px;
}

/* enlever les flêche de input type number*/
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Chrome */
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Opéra*/
input::-o-inner-spin-button,
input::-o-outer-spin-button {
  -o-appearance: none;
  margin: 0;
}
