.button-centered{
  display:flex;
  justify-content: center;
  align-items: center;
}

.buttons_column{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20% 0;

}

.button_first {
  padding-bottom: 50px;
  border-bottom: 2px solid #fafafa;
}

.button_second {
  margin-top: 50px;
}


