header .header_center{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    z-index: 100;
    pointer-events: none;
  }
  
  header .header_center img {
    padding: 50px;
    width: 30%;
  }
