.validation_page .phrase p {
  color: #fafafa;
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
}

.validation_page .validation {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: #fafafa;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin:10% auto;
}

.validation_page .validation img {
  width: 80%;
  height: 80%;
}

.texte_validation {
  color: #c7001e;
  background: #fafafa;
  border: none;
  font-size: 45px;
  padding: 10px;
  font-weight: bold;
  border-radius: 30px;
  box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  line-height: 1;
}

.texte_validation p {
  text-align: center;
}
