.pagetitle{
    color: #FAFAFA;
    text-align: center;
    font-size: 5rem;
    text-shadow: 0px 3px 6px rgba(0,0,0,0.2);
    text-transform: uppercase;
    margin-bottom:40px; 
    font-weight: bold;
    letter-spacing: 0;
    font-family: 'Helvetica Neue Condensed Bold'
}

.titre{
    z-index: 2;
}
