.loading_page{
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
    background-image: url('./background-chargement-traits.png');
    background-size: cover;
    animation: linear load 2s;
    pointer-events: none;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    background-position: bottom;
}

.loading_wrapper{
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
    background-size: cover;
    background-image: url('../../img/background@2x.png');
    background-position: bottom;
    animation: Bye 3s;
    opacity: 0;
    pointer-events: none;
}

.title_loading{
    color: #FAFAFA;
    text-align: center;
    font-size: 5rem;
    text-shadow: 0px 3px 6px rgba(0,0,0,0.2);
    text-transform: uppercase;
    margin-bottom: 40px;
    font-weight: bold;
    letter-spacing: 0;
    text-align: center;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -100%);
    pointer-events: none;
}

@keyframes load {
    from {width: 2%;}
    to {width: 100%;}
  }

@keyframes Bye {
0% {opacity: 1;}
85% {opacity: 1;}
100% {opacity: 0;}
}

/*
background-size: cover;
background-position: bottom;
background-repeat: no-repeat;
background-color: rgba(99, 99, 99, 1);
min-height: 100vh;
background-attachment: fixed; 
*/