.summary{
    color: #fafafa;
}

.summaryactivity {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2.5%;
    width: 20%;
}

.summaryactivity img {
    height: 156px;
    width: 196px;
    z-index: 0;
    padding: 0px; 
}

.summary-container{
    display: flex;
    width: 1000px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.summary .hover{
    transition: .3s;
    position: absolute;
    top: 0;
    text-align: center;
    opacity: 0;
    background-color: rgba(0,0,0,0.5);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.summaryactivity figure {
    position: relative;
}

.summaryactivity figure img {
    border: #fafafa solid 2px;
    width: 100%;
    box-sizing: border-box;
}

.summaryactivity figure:hover .hover{
    opacity: 1;
}

.summary-buttons{
display: flex;
justify-content: center;
padding: 4% 0;
}

.summary-buttons .button_small button{
    width: 70%;
    padding: 3px 40px;
    margin: 0 auto;
    display:flex;
    justify-content: center;
}

.summary-buttons .button_small a{text-decoration: none;}

.summary-buttons button{
    padding: 20px 40px;
}

.summary-buttons .button_small button:hover {
    padding: 4px 41px;
  }
  
  .summary-buttons .button_small button:active {
    padding: 4px 41px;
  }


.summary-buttons button:hover {
    padding: 21px 41px;
  }
  
  .summary-buttons button:active {
    padding: 21px 41px;
  }

.nom_sejour{
      display: flex;
      flex-direction: row;
      justify-content: center;
  }


  .nom_sejour label {
    font-weight: bold;
    font-size: 2rem;
    color: #fafafa;
    margin-right: 30px;
    display: flex;
    justify-content: flex-end;
  }

  .nom_sejour .labels {
    display: flex;
    align-items: center;
  }

  .nom_sejour input {
    width: 20%;
    padding: 5px;
    color: #c7001e;
    font-size: 2rem;
    font-weight: bold;
    font-family: "Helvetica Neue Condensed", sans-serif;
  }

  .nom_sejour input::placeholder {
    color: rgb(199, 0, 30, 0.5);
  }
  
.contain_fixed_recap{
    height:27rem;
    overflow:auto;
    margin-top: -20px;
}

.summarybutton:active{
  background: white;
  color: #c7001e;
}

/* #root > div> div.summary-buttons > a,
#root > div> div.summary-buttons > div.button_small > a{
    height: 100px;
    display: block;
} */