.container_swiped_wrapper {
  width: 40%;
  text-align: center;
}

.container_swiped{
position: relative;
top:10%;
}

.container .loaded {
  background-size: cover !important;
  display: flex;
  justify-content: center;
  align-items: center;


}

.cards_container {
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  height: 100vh;
  width: 100vw;
}

.container_page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.align_left{
 margin-left:200px;}

 .align_right{
   margin-right: 200px;
 }
