
.link_page .description p{
    font-family: 'Helvetica Neue Condensed', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    color:#fafafa;
    text-align: center;
    padding-bottom:2rem; 
}

.link_page .link_shared input{
    color:#FAFAFA;
    background: #c7001e;
    font-size: 3rem;
    padding: 15px;
    font-weight: bold;
    border-radius: 50px;
    line-height: 1;
    text-align: center;
    display: inline-block;
    margin: 25px 0 80px;
    border:0;
}

.link_page .buttons_center{
    display: flex;
justify-content: space-around;
margin-bottom: 10%;
}

