.App{
  background-image: url('../src/img/background@2x.png');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-color: rgba(50,50,50,0.2);
  min-height: 100vh;
}

.wrapper{
  max-width: 960px;
  margin: 0 auto; 
  display: flex;
}