@font-face {
  font-family: 'Helvetica Neue Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Helvetica Neue Condensed'),
       url('../src/fonts/helvetica_neue/HelveticaNeue-Condensed.otf'); /* IE6-IE8 */
}

@font-face {
  font-family: 'Helvetica Neue Condensed Bold';
  font-style: normal;
  font-weight: 400;
  src: local('Helvetica Neue Condensed Bold'),
       url('../src/fonts/helvetica_neue/HelveticaNeueCondensedBold.ttf'); /* IE6-IE8 */
}

@font-face {
  font-family: 'parkway lush';
  font-style: normal;
  font-weight: 400;
  src: local('parkway lush'),
       url('../src/fonts/parkway_lush/parkway lush.ttf'); /* IE6-IE8 */
}

#root {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue Condensed';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(137, 137, 137); 
  background-image: url('../src/img/background@2x.png');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-color: rgba(99, 99, 99, 1);
  min-height: 100vh;
  background-attachment: fixed;
}

*{
  margin: 0;
  font-family: 'Helvetica Neue Condensed', sans-serif;
}

.page_content{
  margin:0 auto;
  width: 900px;
text-align: center;}