.activities__img{
    height: 150px;
    width: 17%;
    margin-right: 3%;
    background-size: cover;
    background-position: 50% 50%;
    position: relative;
}

.activities__content{
    width: 100%;
    text-align: center;
    color:#fafafa;
    font-size:60px;
    font-weight: bold;
    padding-bottom: 100px;
 } 

.contain_fixed{
    margin-top: -5px;
    height:67vh;
    overflow:auto;
}
