.alice-carousel{
    text-align: center;
}

.alice-carousel__stage-item{
    text-align: center;
}

.activity-carousel-hover{
    opacity: 0;
    position: absolute;
    left: 51%;
    transform: translateX(-50%);
    background: rgba(0,0,0,0.5);
    width: 480px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.activity-carousel-hover:hover{
    opacity: 1;
}

.button-carousel{
    background: #C7001e;
    position: absolute;
    top: 45%;
    outline: none;
    height: 50px;
    width: 50px;
    border-top: 10px solid #fafafa;
    border-left: 10px solid #fafafa;
    background: transparent;
    border-bottom: none;
    border-right: none;
}

.button-carousel-left{
    left: 10%;
    transform: rotate(-45deg);
}

.button-carousel-right{
    right: 10%;
    transform: rotate(135deg);
}

.breadcrump{
    text-align: center;
}

.activity {
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    position: relative;
}

.activity img {
    margin: 0 auto;
    height: auto;
    border: 3px solid #fafafa;
    width: 50%;
    z-index: -1;
    padding: 0;
    width: 480px;
    height: 300px;
}

.activity::after{
    content:"";
    height: 50px;
    width: 50px;
    display: block;
    position: absolute;
    background-repeat: no-repeat;
    background-image:url('./like_transparent@2x.png');
    background-size:contain; 
    top:30px;
    right:10px;
}

.activity.selected::after{
    content:"";
    height: 52px;
    width: 52px;
    display: block;
    position: absolute;
    background-image:url('./like_white@2x.png');
    background-size:contain; 
    top:27px;
    right:10px; 
}

#root > div > div > div.contain_fixed > a {
    height: 200px;
    display: block;
}
  