.primarybutton {
  color: #fafafa;
  background: #c7001e;
  border: none;
  font-size: 2rem;
  padding: 10px 40px;
  font-weight: bold;
  border-radius: 50px;
  box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 300;
}

.button-space {
  margin-bottom: 50px;
}

.primarybutton:hover {
  padding: 11px 41px;
  box-shadow: 0px 5px 5px 3px rgba(0, 0, 0, 0.2);
  margin: -1px -1px;
}

.primarybutton:active {
  padding: 11px 41px;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2);
  margin: -1px -1px;
}

.primarybutton > a {
  text-decoration: none;
}

.button-go .primarybutton {
  font-family: "Parkway lush", sans-serif;
  padding: 15px 40px 5px 40px;
  font-size: 2.85rem;
}

.button-go .primarybutton:hover {
  padding: 16px 41px 6px 41px;
}

.button-go .primarybutton:active {
  padding: 16px 41px 6px 41px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 40px;
}

button{
  align-items: center!important;
}
