.secondarybutton {
  color: #c7001e;
  background: #fafafa;
  border: none;
  font-size: 2rem;
  padding: 10px 40px;
  font-weight: bold;
  border-radius: 50px;
  box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  line-height: 1;
  text-transform: uppercase;
}

.secondarybutton:hover {
  padding: 11px 41px;
  box-shadow: 0px 5px 5px 3px rgba(0, 0, 0, 0.2);
  margin: -1px -1px;
}

.secondarybutton:active {
  padding: 11px 41px;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2);
  margin: -1px -1px;
}

.secondarybutton > a {
  text-decoration: none;
}
